<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064517537901-vbjp96usms1qmmcdo50j49dc6664s5i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064517537901-vbjp96usms1qmmcdo50j49dc6664s5i0</string>
	<key>API_KEY</key>
	<string>AIzaSyBHAWc1PnXLo0fePqx1CVVVKAhYmFl50MY</string>
	<key>GCM_SENDER_ID</key>
	<string>1064517537901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>xchirag-1d54d</string>
	<key>STORAGE_BUCKET</key>
	<string>xchirag-1d54d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064517537901:ios:5ca427eb4798e2c325af64</string>
</dict>
</plist>